@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Batang&family=IBM+Plex+Sans+KR&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Batang&family=IBM+Plex+Sans+KR&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    line-height: 1.1;
}

/* 변수 선언 */
:root {
    --primary-color: #2e71f0;
    --black-color: #333743;
    --white-color: #ffffff;
    --gray-color:#999999;
}

/* common 영역 : 공통영역 */
.pt-sans {
    font-family: "PT Sans", sans-serif;
    line-height: 1.8;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
}
.title {
    font-size: 30px;
    font-weight: 500;
    color: var(--black-color);
}
.desc {
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
    color: var(--gray-color);
    font-family: "PT Sans", sans-serif;
}
.btn  {
    padding: 7px 25px;
    font-size: 16px;
    border: 2px solid var(--black-color);
    text-decoration: none;
    color: var(--black-color);
    display: inline-block;
    transition: 0.3s all ease-in-out;
}
.btn:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}


/* kv 영역 */
.kv-sec {
    background-image: url("../images/bg-11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 300px 0;
    color: var(--white-color);
}
.kv-subtitle {
    font-size: 40px;
    font-weight: lighter;
}
.kv-title {
    font-size: 60px;
    margin: 20px 0 10px;
    font-weight: 500;
}
.kv-desc {
    font-size: 15px;
    margin: 20px 0 10px;
    color: var(--white-color);
}
.kv-txt {
    max-width: 550px;
}
.kv-btn {
    border-color: var(--white-color);
    color: var(--white-color);
}
.kv-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


/* info 영역 */
.info-wrap {
    width: 100%;
    max-width: 620px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    margin: 0 auto;
}
.info-sec {
    padding: 120px 0;
}
.info-title {
    margin: 20px 0 35px;
    text-align: center;
    position: relative;
}
.info-title::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    z-index: -1;
}
.info-title::after {
    content: '';
    display: block;
    position: absolute;
    width: 55px;
    height: 80px;
    border: 3px solid var(--primary-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -2;
}
.info-desc {
    font-weight: 300;
    line-height: 32px;
    margin: 60px 0 10px;
}
.info-desc span {
    font-size: 35px;
    margin: 5px 15px 0 0;
    color: var(--primary-color);
    float: left;
}

/* package 영역 */
.package-sec {
    padding: 100px 0;
}
.package-row {
    display: flex;
    align-items: center;
    gap: 2%;
}
.package-row > div {
    width: 49%;
}
.package-img img {
    width: 100%;
}
.package-text .pd-left {
    padding-left: 50px;
}
.package-title {
    margin: 20px 0 10px;
}
.package-value span {
    color: #2e70f0;
    font-size: 23px;
    font-weight: 600;
    padding-left: 10px;
}
.reverse {
    flex-direction: row-reverse;
}
.package-row .margin-top {
    margin-top: 70px;
}
.package-desc {
    width: 80%;
}
.package-btn {
    text-align: center;
    margin-top: 90px;
}
.package-btn a {
    padding: 7px 25px;
    font-size: 16px;
    border: 2px solid var(--black-color);
    text-decoration: none;
    color: var(--black-color);
    display: inline-block;
    transition: 0.3s all ease-in-out;
}
.package-btn a:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

/* merit 영역 */
.merit-sec {
    padding: 80px 0;
    background-image: url("../images/bg-14.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.merit-title {
    color: var(--white-color);
    margin-bottom: 30px;
}
.merit-counter-wrap {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.counter h3 {
    font-size: 35px;
    color: var(--white-color);
    margin-bottom: 10px;
}
.merit-text {
    width: 33%;
}

/* review 영역 */
.review-sec {
    padding: 100px 0;
}
.review-wrap {
    display: flex;
    align-items: center;
    gap: 2%;
}
.review-card-wrap {
    width: 65%;
    display: flex;
    gap: 2%;
}
.review-text {
    width: 33%;
    margin-left: 80px;
    box-sizing: border-box;
}
.review-card {
    width: 49%;
    box-sizing: border-box;
    box-shadow: 0px 2px 10px 0.5px rgba(0,0,0,0.1);
    transition: 0.3s all ease-in-out;
}
.review-card:hover {
    transform: translateY(-15px);
}
.review-card-text {
    padding: 20px 25px 30px;
}
.review-card img {
    width: 100%;
}
.review-title {
    text-decoration: none;
}
.review-title a {
    display: inline-block;
    color: var(--black-color);
    font-size: 26px;
    font-weight: 500;
}
.review-meta {
    font-size: 14px;
    color: var(--gray-color);
    margin: 10px 0 20px;
}
.review-meta .author {
    color: var(--primary-color);
    text-decoration: none;
}
.review-action {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
.review-icon a {
    color: var(--gray-color);
    text-decoration: none;
    font-size: 15px;
}
.review-card-btn {
    padding:  5px 10px;
    border: 1px solid #cecece;
    border-radius: 4px;
    text-decoration: none;
}
.review-card-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white-color)
}
.review-icon .comments {
    padding-right: 10px;
}
.review-icon {
    transition: 0.3s all ease-in-out;
}

.review-icon a:hover {
    color: var(--primary-color);
}
.review-text-title {
    position: relative;
    margin-bottom: 35px;
}
.review-text-title::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    z-index: -1;
}
.review-text-title::after {
    content: '';
    display: block;
    position: absolute;
    width: 55px;
    height: 80px;
    border: 3px solid var(--primary-color);
    left: -25px;
    top: 50%;
    transform: translate(0,-50%);
    z-index: -2;
}
.review-btn-wrap {
    margin-top: 30px;
}




/* breakpoint 영역 */

@media (max-width:1024px) {
    /* info 영역 */
    .info-wrap {
        max-width: 100%;
    }

    /* package 영역 */
    .package-row {
        flex-direction: column;
    }
    .package-row > div {
        width: 100%;
    }
    .package-text {
        padding-left: 70px 0;
    }    
    
    /* review 영역 */
    .review-wrap {
        flex-direction: column;
    }
    .review-card-wrap {
        flex-direction: column;
        gap: 30px;
    }
    .review-wrap > div, .review-card-wrap > div {
        width: 100%;
    }
    .review-text {
        padding: 100px 0 0 32px;
        margin-left: 0;
    }
}


@media (max-width: 768px) {
    /* common 영역 */
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* kv 영역 */
    .kv-subtitle {
        font-size: 25px;
    }
    .kv-title {
        font-size: 35px;
    }
    .kv-desc {
        font-size: 14px;
    }

    /* info 영역 */
    .info-sec {
        padding: 50px 0;
    }
    .info-desc {
        margin: 30px 0 10px;
    }
    .info-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* package 영역 */
    .package-sec {
    padding: 50px 0;
    }
    .package-text {
        padding: 30px 0;
    }
    .package-text .pd-left {
    padding-left: 0;
    }
    .package-desc {
    width: 100%;
    }

    /* merit 영역 */
    .merit-sec {
    padding: 50px 0;
    }

    .merit-counter-wrap {
        flex-direction: column;
        gap: 30px;
    }
    .merit-text {
        width: 100%;
    }

    /* review 영역 */
    .review-sec {
    padding: 50px 0;
    }

    .review-text {
        padding-left: 20px;
    }
}